
 div.add{
width:50%;
height: auto;
background-color: white;
float: left;
margin-bottom: 10px;
margin-top: 20px;
margin-left: 20px;
 }
 div#main{
      width:93%;
  height: 400px;
 }
margin-left: 30px;
  }
  .inner{display: none}
.inner{
  width:100%;
  height: 100%;
  padding: 20px;
}
.inner img{
  width:100%;
  height: 100%;

}
.next,.prev{
  cursor: pointer;
  position: absolute;
  top: 47%;
height: 30px;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next{
  left:590px;
}
.prev{
  left:40px;
}
.prev:hover{
  background-color: black;
  opacity:.7;
}
.next:hover{
  background-color: black;
  opacity:.7;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
div.desc{
  margin-top:30px;
  margin-left: 30px;
}
div.desc label{
  font-size: 30px;
  font-weight: bold;
}
div.desc p{
  margin-top: 40px;
  font-size: 20px;
}
div.sell_info{
  width:45%;
  height: 400px;
  margin-top: 20px;
  background-color: white;
  margin-right: 30px;
 padding-top: 20px;
  float: right;
}
div.sell_info label{
  font-size: 30px;
  font-weight: bold;
  margin-left: 20px;
}
div.sell_info p{
  font-size: 20px;
margin-top: 30px;
margin-left: 20px;
}
