*{
	margin:0px;
	padding:0px;
}
body{
background-color:#f1f1f1;
	font-family: verdana;
}

/*----Header---*/
header{
background-color: white;
width:100%;
height:100px;
font-size: 20px;
box-shadow:0px 0px 10px 0px; 
font-weight: bold;
position: fixed;
top:0;
z-index: 1;
}
ul.hdr{
list-style-type: none;	
margin:0;
padding: 0;
width:100%;
position: relative;
top:37px;
left:200px;
}
.hdr li{
	float:left;
}
.hdr a{
	color: black;
text-decoration: none;
text-align: center;
padding:30px;
transition: 0.9s;
border-bottom: 100px;
}
@keyframes ani{to{height:50px;}
	from{height:0px;}
	
}
.hdr a:hover{
	text-decoration: underline;
}
/*----Content---*/
section{
	margin-top:100px;
}
input[type=button]{
background-color:#83BD5B;
border:none;
color:#F2F2F0;
border-radius: 10px; 
font-size:20px;
font-weight: bold;
cursor: pointer; 
font-size: 15px;
animation-name: ani;
animation-duration: 4s;

}

/*----Footer---*/
#media{width: 100%;height: 450px;background:#363545 ; color:white; }
		#links{padding: 10px; margin: 0px 0px 0px 350px; word-spacing: 25px;}
		#border{ border-bottom: 2px solid #4d5259;}
		.color2{color: #9D9DA6; font-size: 25px; font-weight: bold; font-family: arial;}
		#Footer{ margin: 50px 0px 0px 100px; }
		#pro{ margin: -30px 0px 0px 250px; word-spacing: 180px;}
		.color3{ color: #D4D5D1; font-size: 16px; font-family:arial; }
		#footer2{margin: -180px 0px 0px 250px;}
		#footer3{ margin: -180px 0px 0px 575px; }
		#footer4{ margin: -180px 0px 0px 885px; }
		#footer5{margin: 50px 0px 0px 0px;}
		#inc{margin: 0px 0px 0px 400px; font-size: 18px; font-weight: 400px;}
		#Privacy{margin: -21px 0px 0px 590px; font-size: 18px; font-weight: 400px;}
		#Service{margin: -21px 0px 0px 690px; font-size: 18px; font-weight:400px;}