div.contact{
	height:500px;
	background-color: #517581;
}
form{
	text-align: center;
	height: 100%;
}
input{
	padding: 5px;
margin-top: 10px;
margin-left: 20px;
outline:none;
}
label{
	font-size: 20px;
	color: white;
}
textarea{
outline:none;
}
button{
width:130px;
height:50px;
position:relative; 
top:20px;
right:20px;
background-color:#83BD5B;
border:none;color:#F2F2F0;
border-radius: 10px; 
font-size:20px;
font-weight: bold;
cursor: pointer; 
font-size: 15px;
border:2px solid #F2F2F0;
animation-name: ani;
animation-duration: 4s;
}