section{
	width: 100%;
	height:1450px;
	background-color: #f1f1f1;
}
div.main{
	width: 80%;
	
	background-color: white;
position: absolute;
left:100px;
top:130px;
padding: 20px;

}
form{
	width:100%;
	height: 100%;
	color: black;

}
label{

	
}
input,select{
margin-top: 10px;
width: 98%;
height: 40px;
}

input:focus,select:focus,textarea:focus{
outline:none;
}
#btn
	{
		background-color: #fff602;
		height: 40px;
	width: 150px;
		margin: 30px 0 40px 20px;
		border:none;
	}
	#btn:hover{
	cursor: pointer;
	color:red;
	}
	input[type="file"]{
width:500px;
border:2px solid black;

	}
	label.lbl{
  background-color: indigo;
  color: white;
  padding: 0.5rem;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;

}
span.filename{
  margin-left: 10px;
  font-family: sans-serif;
}