div.filter_search{
	height:600px;
	background-color: #517581;
}
form{
	height: 100%;
	margin-left: 20px;
}
input{
	width:400px;
	height:30px;
	font-size: 15px;
margin-top: 10px;
margin-left: 20px;
outline:none;
}
input[type=number]{
	margin-left: 200px;
	border:none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
label{
	font-size: 20px;
	width: 180px;
	color: white;
	display: inline-block;
	
}
select{
	width:1000px;
	height:40px;
	font-size: 15px;
margin-top: 10px;
margin-left: 20px;
outline:none;
display: inline-block;
}
button{
width:130px;
height:50px;
margin-top: 40px;
background-color:#83BD5B;
color:#F2F2F0;
border-radius:10px; 
font-size:20px;
font-weight: bold;
cursor: pointer; 
font-size: 15px;
border:2px solid #F2F2F0;
animation-name: ani;
animation-duration: 4s;
}