


/*----Content---*/
section{
	margin-top:100px;
}
input[type=button]{
background-color:#83BD5B;
border:none;color:#F2F2F0;
border-radius: 10px; 
font-size:20px;
font-weight: bold;
cursor: pointer; 
font-size: 15px;
border:2px solid #F2F2F0;
animation-name: ani;
animation-duration: 4s;
}
div.filter{
	background-color: white;
height: 2180px;
	width:25%;
	float: left;
}
.filer input,select{
width:300px;
height: 30px;
display: block;
margin-top: 20px;
margin-left: 10px;
}
.filter input{
	width:300px;
height: 30px;
display: block;
margin-top: 20px;
margin-left: 10px;
}
.filter label{
	font-size: 18px;
	margin-left: 10px;

}
input[type=text]{
	outline: none;
	font-size: 15px;
}
div.search{
	width:100%;
	height:70px;
	background-color: white;
	margin-top: 10px;
}
div.search label{
font-size: 15px;
}
div.search select{
	display: inline-block;
	margin-bottom: 20px;
}
div.search{

}
div.content{
	margin-bottom: 20px;
}
div.gallery{
	width: 75%;
	float: right;
}
div .ad{
	background-color: white;
	width:95%;
	height:250px;
	color:black;
	margin: 10px 0px 0px 10px;
}

.ad:hover{
	box-shadow:0px 10px 10px 0px black;
}
.ad img{
	width: 100%;
	height: 100%;
	float: left;
}
.ad .description{
	width: 60%;
	float: right;
}
.description p.text{
padding: 10px;
}

.description a{
	text-decoration: none;
	margin-left: 10px;
}
.description label{
	font-size: 25px;
	font-weight: bold;
}
.description label:hover{
	cursor: pointer;
}

div.about{
	width: 100%;
	height:300px;
	background-color: #8F8F8D;
	margin-bottom: 20px;
}

button{
	width: 40%;
	height: 100%;
	border: none;
}
button:hover{
	cursor: pointer;
}