


 .login-box{
 	width: 280px;
 	position: absolute;
 	top:50%;
 	left: 50%;
 	transform: translate(-33%,-50%);
 	color: black;
 }


 .login-box h1{
 	float: left;
 	font-size: 50px;
 	border-bottom: 6px solid black;
 	margin-bottom:50px; 
 	padding: 13px 0
 }

 .text-box{
	width: 100%;
 	overflow: hidden;
 	font-size: 20px;
 	padding: 8px 0;
 	margin: 8px 0 ;
 	border-bottom: 1px solid black;

 }
