 #main{

width:80%;
height:500px;
background-color: red;
margin-left: 10%;
 }
 .inner{
 	 width:100%;
  height:100%;

 }
.next,.prev{
  cursor: pointer;
  position: absolute;
  top: 49%;
  width: auto;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.next{
  left:86%;
}
.prev:hover,.next:hover{
  color: white;
  background-color: black;
  opacity:.7;
}
.inner > img{
  width:100%;
  height: 100%;
  vertical-align: middle;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: 0.4;} 
  to {opacity: 1;}
}
div.update{
  width: 90%;
  height:300px;
  margin-top: 20px;
  margin-left: 50px;
  background-color: white;
  margin-bottom: 20px;
   color:black;
}
div.update p{
  margin-top: 20px;
  margin-left: 10px;
  width: 60%;
  height: 100%;
 float:left;
 font-size:25px;
}
div.update img{
 width:30%;
 height:100%;
 float:right;
}

div.postbox{
  width:100%;
  height:550px;

}
div.post{
	width: 400px;
	height: 250px;
	background-color:white;
  float: left;
	text-align: center;
	color: black;
	margin: 10px 0px 0px 10px;
}
.post:hover{
	box-shadow:0px 10px 10px 0px black;
}
.post img{
	width: 100%;
	height:200px;
}
.post p{
	margin-top: 10px;
  font-size: 20px;
}
