input,select {
  width: 50%;
  padding: 15px;
  margin: 5px 0 0px 20px;
  display: inline-block;
  border: none;
}

input:focus ,select:focus{
  background-color: #ddd;
  outline: none;
}
.btn
  {
    background-color: #fff602;
    height: 40px;
  width: 150px;
    border:none;
  }
  .btn:hover{
  cursor: pointer;
  color:red;
  }
 