
body{
	background-color: #f1f1f1;
	font-family: sans-serif;

}
div.outer{
width: 90%;
margin:auto;
background-color: transparent;
padding: 20px;
}

div.services{
	width: 100%;
	background-color:white;
	padding:20px;
}
.services h3{
	color:darkblue;
	margin-top: 10px;
}
.services p{
margin-top: 10px;
}